<!doctype html>
<html lang="no">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes"/>
    <meta name="apple-mobile-web-app-capable" content="yes">

    <title>Drammen Kommune Booking</title>

    <link href='https://fonts.googleapis.com/css?family=Droid+Sans:400,300,500' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://use.typekit.net/qzc7gzr.js"></script>

    <script>try{Typekit.load({ async: true });}catch(e){}</script>
    <style>
      * {
        box-sizing: border-box;
      }
      html, body {
        margin: 0;
        padding: 0;
        height: 100%;
        background-color: #eeeeee;
        font-family: 'futura-pt', sans-serif;
        -webkit-font-smoothing: antialiased;
        font-size: 18px;
      }
      input, textarea {
        font-family: 'futura-pt', sans-serif;
        -webkit-font-smoothing: antialiased;
      }
      h1, h2, h3, h4, h5, h6 {
        margin: 0;
      }

      h1 {
        font-size: 24px;
        font-weight: bold;
      }

      h2 {
        font-size: 20px;
      }

      h3 {
        font-size: 18px;
        font-weight: bold;
      }

      h4 {
        font-size: 16px;
        line-height: 18px;
      }

      p, a, button, button span, a span, ul {
        font-size: 16px !important;
        font-family: 'futura-pt', sans-serif;
        -webkit-font-smoothing: antialiased;
      }

      @media (min-width: 760px) {
        h1 {
          font-size: 27px;
        }

        h2 {
          font-size: 23px;
        }

        h3 {
          font-size: 19px;
          font-weight: bold;
        }

        h4 {
          font-size: 17px;
          line-height: 19px;
        }

        p, a, button, button span, a span, ul {
          font-size: 18px !important;
        }
      }

      a:link {
        color: #028dea;
      }
    </style>
  </head>
  <body>
    <div id="app"></div>
  </body>
</html>
